body {
    font-family: sans-serif;
}
.email-section {
    margin-bottom: 0;
}
.email-input {
    margin-top: 5px;
    margin-bottom: 0;
    width: 300px;
    padding: 7px;
}
.rules {
    font-size: 13px;
}
.agree-button {
    background-color: rgb(10, 107, 200);
    color: white;
    text-align: center;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    width: 300px;
    padding: 16px;
    cursor: pointer;
}
