.parent {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 12px;
    width: 450px;
    border-radius: 6px;
}
.tweet-input {
    font-size: 18px;
    border: none;
    outline: none;
    width: 300px;
    vertical-align: middle;
}
.cat-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 5px;
}
.tweet-btn {
    background-color: #2892d4;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 20px;
    vertical-align: middle;
}