div {
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: rgb(120, 82, 178);
}

.home {
    color: white;
    font-weight: bold;
}
.search-bar {
    width: 500px;
    border: none;
    border-radius: 50px;
    margin: 12px 0;
    padding: 10px 0;
    padding-left: 22px;
    outline: none;
}
.download-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 22px;
    cursor: pointer;
}